* {
    *padding:0 ;
       margin:0 ;*
    box-sizing: border-box;
}
.intro{
    width:100%;
}
.logboek{
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    padding: 1rem;


    h1{
        width:100%;
        text-align:center;
    }
    section{
        width:30%;
        padding:1rem;
        border:2px solid black;
        border-radius:15px;
        margin:0.25rem;


    }
}
.aimreflec{
    width:100%;
    p{
        width:100%;
        padding:0.25rem;
    }
}
.kernkwad{

    div{
        border:2px solid black;
        border-radius:15px;
        div{
            width:50%;
            border:2px solid black;
            border-radius:10px;
        }
    }
}